<p id="notice"><%= notice %></p>

<h1>The products...</h1>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.category %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        </td>
        <td><%= product.quantity %></td>
        <td><%= product.taste_description %></td>
        <td><%= link_to 'Add to Cart', product %></td>
    <% end %>
  </tbody>
</table>

<style>

body{
  text-align: center;
}

table {
  border: solid black;
  margin: 0 auto;
  border-radius: 20px;
}
</style>

<br>


<%= link_to '<button type="button">Home</button>'.html_safe, root_path %>
