






<table class="striped">
  <thead>
    <tr>
      <th>Order</th>

      <th>Category</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>


<tbody>
    <% @product.each do |product| %>
      <tr>
        <td><%= product.order_id %></td>
        <td><%= product.category %></td>
        <td><%= product.name %></td>
        <td><%= product.quantity %></td>
        <td><%= product.formatted_price %></td>
        <td><%= product.taste_description %></td>


    <% end %>
  </tbody>




