<!DOCTYPE html>
<html>
<head>
  <title>Sign up to become a Farmer!</title>
</head>

<h1>Sign up!</h1>

<h2>Sell your fresh, local food..</h2>

<%= form_for @farmer do |f| %>
  <% if @farmer.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @farmer.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :your_name %>:
    <%= f.text_field :name %>
  </div>
  <p>
  <div class="field">
    <%= f.label :your_business_name %>:
    <%= f.text_field :business %>
  </div>
  <p>
  <div class="field">
    <%= f.label :your_zip_code %>:
    <%= f.text_field :zip_code %>
  </div>
  <p>
  <div class="field">
    <%= f.label :your_email %>:
    <%= f.text_field :email %>
  </div>
  <p>
  <div class="field">
    <%= f.label :your_password %>:
    <%= f.password_field :password %>
  </div>
  <p>
  <div class="field">
    <%= f.label :password_confirmation %>:
    <%= f.password_field :password_confirmation %>
  </div>
  <p>

  <div class="actions"><%= f.submit %></div>
<% end %>

<body>




</body>

<style>

body{
  text-align: center;
  background: green;

}


</style>

</html>
